

.roundSignUpButton {
    display:block;
    width: 119px;
    height:50px;
    background: #84ec77;
    border: 2px solid #84ec77;
    border-radius: 12px;
    color:#000000;
    text-align:center;
    line-height: 50px;
    margin: 20px;
    font-size: 18px;
}
.roundSignUpButton:hover {
    transform: translateY(-10px);
  }
.keyPoints{
    display: block;
    text-align: left; 
    font-size: 16px; 
    margin-bottom: 10px;
}
.b1{
    list-style-image: url(git-branch-458285_16x16.png);

} 
.b2{
    list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/6/61/Icons-mini-icon_security.gif);
} 
.b3{
    list-style-image: url(osi_keyhole_300X300_90ppi_0_16x16.png);
}

.mainTitle{
    text-align: center; font-weight: 400; font-size: 69px; margin-bottom: 10px;
    margin-top: 50px;
}

.mainDescription{
    padding-top: 40px; text-align: center; font-weight: 600; margin-bottom: 12px; font-size:25px;
    padding: 40px 80px 0px 80px;
}

.additional{
    text-align: center; font-weight: 400; margin-bottom: 10px; margin: 0px;
    color:darkgray;
}

.pickDescription{
    margin: 0px; padding: 20px 5px 35px 5px; font-weight: 400; font-size: x-large;
}


@media only screen and (max-width: 1136px) {
    .mainTitle{
        font-size: 45px;
    }
    .mainDescription{
        font-size: medium;
        padding-left: 30px;
        padding-right: 30px;
        text-align: justify;
    }
    .additional{
        font-size: 13px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }
    .pickDescription{
        font-size: 18px;
        font-weight: normal;
        margin-left: 20px;
    }
    .wrapper-container{
        margin: 0px !important;
        width: 100% !important;
    }
    .list-wrap{
        padding: 10px 8px !important;
    }
  }